|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/letschat', '''
div(contrib-letschat-webhooks, ng-controller="ContribLetsChatAdminController as ctrl")
    header
        h1(tg-main-title)

    form
        div.contrib-form-wrapper
            fieldset.contrib-input
                label(for="url") Let's Chat messages endpoint
                input(type="text", name="url", ng-model="letschathook.url", placeholder="Let's Chat messages endpoint", id="url")
                label(for="token") Let's Chat Auth token
                input(type="text", name="token", ng-model="letschathook.token", placeholder="Let's Chat Auth token", id="token")

        fieldset(ng-show="letschathook.id")
            a.button-gray(href="", title="Test", ng-click="ctrl.testHook()" style="display:block;text-align: center;")
                span Test

        button(type="submit", class="hidden")
        a.button-green.submit-button(href="", title="Save", ng-click="ctrl.updateOrCreateHook(letschathook)")
            span Save

    //a.help-button(href="https://taiga.io/support/letschat-integration/", target="_blank")
    //    span.icon.icon-help
    //    span Do you need help? Check out our support page!
    span Let's Chat messages endpoint :host/rooms/:room_id_or_slug/messages
|''')]);
